<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WhereIsMyMind{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
    <header class="bg-white border-bottom">
        <div class="container d-flex justify-content-between align-items-center py-3">
            <span class="fs-4 fw-bold text-primary">🧠 WhereIsMyMind</span>
            <button class="btn btn-outline-primary" onclick="alert('Google OAuth позже')">Войти через Google</button>
        </div>
    </header>
    
    {% block body %}{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>
</html>
